ProductConfigurator/ProductConfigurator.Domain/obj/Debug/
ProductConfigurator/ProductConfigurator.Services/obj/Debug/
ProductConfigurator/ProductConfigurator.WebUI/obj/Debug/
ProductConfigurator/ProductConfigurator.WebUI.Tests/obj/Debug/

*.suo