ProductConfigurator/ProductConfigurator.Domain/obj/Debug/
ProductConfigurator/ProductConfigurator.Services/obj/Debug/
ProductConfigurator/ProductConfigurator.WebUI/obj/Debug/
ProductConfigurator/ProductConfigurator.WebUI.Tests/obj/Debug/
ProductConfigurator/ProductConfigurator.v11.suo

*.suo
Debug

bin
obj

obj

bin
/ProductConfigurator/ProductConfigurator.WebUI/obj
bin
bin
obj
obj

bin
obj

bin

bin
/ProductConfigurator/ProductConfigurator.WebUI/obj
obj

bin

/ProductConfigurator/*.suo
Web.config
