@model IEnumerable<ProductConfigurator.WebUI.Models.CategoryViewModel>

@{
	
}

<div class="span6 center">
	@Html.DropDownList("CategoryList", Model.Select(x => new SelectListItem { Text = x.Name, Value = x.Id.ToString(), Selected = false }), "Choose category ...")

</div>

<div class="span6 center">


@using (Html.BeginForm("AddCategory", "Admin"))
{
	@Html.Hidden("productId")
	@Html.TextBox("name", null, new { @placeholder = "Category Name" })
	<br />
	<input type="submit" id="newCat" value="New Category" />
}

</div>
