@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>



<div style="height:1px;background-color:black"></div>

<div id="Product" class="">

</div>

<div id="Category" class="">

</div>

<div id="Part" class="">

</div>

@System.Web.Optimization.Scripts.Render("~/bundles/admin")
