@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>



<div id="Product" class="">
	
</div>

<div style="height:1px;background-color:black"></div>

<div id="Category" class="">


</div>

<div id="Part" class="">


</div>


<script src="~/Script/JavaScript1.js"></script>