@model IList<ProductConfigurator.WebUI.Models.HandleOrderViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <table>
        <tr>
            <th>
                Order ID
            </th>
            <th>
                Parts
            </th>
            <th>
                Total Price
            </th>
            <th>
                Leveransdatum
            </th>
            <th>
                Send
            </th>
        </tr>

@foreach (ProductConfigurator.WebUI.Models.HandleOrderViewModel order in Model)
{
    <text>
    <tr>
        <td>@order.Id</td>
        <td>
            @*@foreach(ProductConfigurator.WebUI.Models.PartViewModel part in order.CategoryParts*@
        </td>
        <td>@order.Price </td>
        <td>@order.DeliveryDate.ToString("yyyy-mm-dd")</td>
        <td>
            @if (order.Sent != null)
            {
                if(order.Sent==false)
                {
                    using (Html.BeginForm("SendOrder", "Admin", new { id = order.Id }))
                    {
                        @Html.AntiForgeryToken()
                        <button type="submit">
                            Send order
                        </button>
                    }
                }else{
                    <text>
                        Order skickad!
                    </text>
                }
            }else{
                    <text>
                        Order skickad!
                    </text>   
            }
        </td>
    </tr>


    </text>
}

</table>