@model IList<ProductConfigurator.WebUI.Models.HandleOrderViewModel>

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}


    <table>
        <tr>
            <th>
                Order ID
            </th>
            <th>
                User
            </th>
            <th>
                Total Price
            </th>
            <th>
                Handle
            </th>
            <th>
                Send
            </th>
        </tr>

@foreach (ProductConfigurator.WebUI.Models.HandleOrderViewModel order in Model)
{
    <text>
    <tr>
        <td>@order.Id</td>
        <td>Nisse </td>
        <td>@order.Price </td>
        <td>Delete</td>
        <td>
            @if (order.Sent != null)
            {
                if(order.Sent==false)
                {
                    using (Html.BeginForm("SendOrder", "Admin", new { id = order.Id }))
                    {
                    <button type="submit">
                        Send order
                    </button>
                    }
                }else{
                    <text>
                        Order skickad!
                    </text>
                }
            }else{
                    <text>
                        Order skickad!
                    </text>   
            }
        </td>
    </tr>


    </text>
}

</table>