@model IEnumerable<ProductConfigurator.WebUI.Models.ProductViewModel>

<div class="span6 center">
	@Html.DropDownList("ProductList", Model.Select(x => new SelectListItem { Text = x.Name, Value = x.Id.ToString(), Selected = false }), "Choose Product ...")
</div>

<div class="span6 center">

@using (Html.BeginForm("AddProduct", "Admin"))
{

	@Html.TextBox("name", null, new { @placeholder = "Product Name" })
	<br />
	
	<input type="submit" value="New Product" />
}

</div>
