@model IEnumerable<ProductConfigurator.WebUI.Models.ProductViewModel>

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
	@if(User.Identity.IsAuthenticated){
	@Html.ActionLink("UserSide", "Index", "User")
 }
	@if(User.IsInRole("Admin")){	
	@Html.ActionLink("AdminSide", "Index", "Admin")	
 }
</div>

<div>
	Admin username: MagnusAdmin 
	<br />
	Password: Magnus1!
</div>

