@model IEnumerable<ProductConfigurator.WebUI.Models.CategoryPartsViewModel>

@if(Model!=null)
{
    
	foreach (var item in Model)
	{
		@Html.Partial("GetRelationsPartPartial", item)
	<br />
	}
	<button id="btnSubmit" type="button">Submit</button>
}