@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Index</h2>
@using(Html.BeginForm("OrderConfirmation", "User"))
{
    {Html.RenderAction("ProductPartial", "User");}

    <div id="categoryPartial">
        @{Html.RenderAction("CategoryPartial", "User");}
    </div>
    
}

<script>
    $(document).ready(function () {
        $('select').change(selectChange);
        
    });

    function Submit() {
        $("form").submit();
    }

    function selectChange()
    {
        var select = $(this).attr("name")
        var id = $(this).val();
        if (select == "Product" && id != "") {
            $.ajax({
                url: '@Url.Action("CategoryPartial", "User")',
                data: { 'productId': id },
                type: "post",
                success: function (data) {
                    $("#categoryPartial").html(data);
                    $('#btnSubmit').click(Submit);
                },
                error: function () {
                    alert("error");
                }
            });
        }
        else
            $("#categoryPartial").html("");
        
    }
</script>

