@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm()) { 
@{Html.RenderAction("ProductPartial", "User");}
    <div id="categortPartial">
@{Html.RenderAction("CategoryPartial", "User");}
    </div>
    <script>
        $(document).ready(function () {
            $('select').change(selectChange);
        });

        function selectChange() {
            var select = $(this).
        }

    </script>
}