@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
</head>
<body>
    <div>
        
@using (Html.BeginForm("ForgotPassword", "Account"))
{
	<br />
	<div class="input-prepend">
	<span class="add-on"><i class="icon-envelope"></i></span>
	@Html.TextBox("username", "", new { @placeholder = "Username"})
	</div>
	@Html.ValidationMessage("username")
	
	<input class="btn pull-right" type="submit" value="Send new pass to account email" />
}

    </div>
</body>
</html>
